.modal {
    display: none; /* Oculta por defecto */
    position: fixed; /* define el lugar */
    z-index: 3; /* colocada en top */
    padding-top: 30px; /* ancho del paddign horizontal */
    left: 0;
    top: 0;
    width: 100%; /* ancho */
    height: 100%; /* largo */
    overflow: auto; /* habilitar el scroll*/
    background-color: rgb(0,0,0); /*  color de fondo */
    background-color: rgba(0,0,0,0.4); /* opacacidad */
}


/* Agregar Animacion */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

 .datagrid table { 
        border-collapse: collapse; 
        text-align: left; 
        width: 100%; 
    } 
.datagrid {
font: normal 12px/150% Arial, Helvetica, sans-serif;
background: #fff; overflow: hidden; 
border: 1px solid #36752D; 
border-radius: 3px; 
width: 50%;
text-align: center;
 margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
}

.datagrid table td, .datagrid table th { 
padding: 10px 4px; 
}

.datagrid table thead th {
background-color:#36752D;
color:#FFFFFF; 
font-size: 15px; 
font-weight: bold; 
border-left: 1px solid #36752D; 
} 

.datagrid table thead th:first-child { 
border: none; 
}

.datagrid table tbody td { 
color: #275420; 
border-left: 1px solid #C6FFC2;
font-size: 12px;
font-weight: normal; 
}

.datagrid table tbody .alt td { 
background: #DFFFDE; 
color: #275420; 
}


.datagrid table tbody td:first-child { 
border-left: none; 
}

.datagrid table tbody tr:last-child td { 
border-bottom: none; 
}

* {
 font-family: Arial, sans;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
}
h1,h2 {
 margin: 0.5em 0;
 text-align: center;
}



#container {
 margin: 0 auto;
 width: 50%; /* Ancho del contenedor */
 padding-left: 20px;
 padding: 10px;
background: #f9f9f9;
}

#container input {
 height: 2.5em;
 visibility: hidden;
}
#container label {
 background: #f9f9f9; /* Fondo de las pestañas */
 border-radius: .25em .25em 0 0;
 color: #888; /* Color del texto de las pestañas */
 cursor: pointer;
 display: block;
 float: left;
 font-size: 1em; /* Tamaño del texto de las pestañas */
 height: 2.5em;
 line-height: 2.5em;
 margin-right: .25em;
 padding: 0 1.5em;
 text-align: center;
}
#container input:hover + label {
 background: #ddd; /* Fondo de las pestañas al pasar el cursor por encima */
 color: #666; /* Color del texto de las pestañas al pasar el cursor por encima */
}
#container input:checked + label {
 background: #f1f1f1; /* Fondo de las pestañas al presionar */
 color: #444; /* Color de las pestañas al presionar */
 position: relative;
 z-index: 6;
}
#content {
 background: #f1f1f1; /* Fondo del contenido */
 border-radius: 0 .25em .25em .25em;
 min-height: 30em; /* Alto del contenido */
 position: relative;
 width: 100%;
 z-index: 5;
}
#content div {
 opacity: 0;
 padding: 1.5em;
 position: absolute;
 z-index: -100;
}
#content button {
position:relative;
margin:auto;
top: 430px; 
left: -200px;
}

#content3 button {
position:relative;
margin:auto;
top: 25px; 
left: 116px;
}

#content-1 input, #content2 input, #content3 input, #content4 input, #content5 input {
 visibility: visible;
}

#content-1 input[type="radio"]{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;

}

#content-2 input {
 visibility: visible;
}
#content-2{
text-align: center;   
}

#content-3 p,
#content-3 ul {
 margin-bottom: 1em;
}
#content-3 ul {
 margin-left: 2em;
}
#container input#tab-1:checked ~ #content #content-1,
#container input#tab-2:checked ~ #content #content-2,
#container input#tab-3:checked ~ #content #content-3 {
 opacity: 1;
 z-index: 100;
}

.formularios ul {
    width:512px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.formularios li{
    padding:5px; 
    border-bottom:1px solid #eee;
    position:relative;
}


.formularios textarea{
padding:8px; 
width:300px;
resize:none;
}

.formularios input, .formularios textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.formularios input:focus, .formularios textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

#page td {
   padding:50px; 
   margin:100;
}
#page2 td {
   padding:30px; 
   margin:100;
}

.internos{

    border: 0px solid #888;
}

.hoverTable{
margin-top: 1em;
 margin-right: 1em;
 margin-bottom: 1em;
 margin-left: 1em;
}

.boton{
padding-left: 20px;
padding-right: 20px;
}


#second{
margin-top: 1em;
 margin-right: 1em;
 margin-bottom: 1em;
 margin-left: 1em;

}

#listamenu{
margin-top: 1em;
 margin-right: 1em;
 margin-bottom: 1em;
 margin-left: 1em;
 padding-left: 5px;
padding-right: 8px;

}

#listamenu li{

margin-top: 1em;
margin-bottom: 1em;
}


h3, h2{
    background-color:#36752D;
    color:white;
    padding: 10px 4px; 
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold; 
}

h5{
font: normal 12px/150% Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-weight: bold; 
    color:white;

}

#content2, #content3, #content4, #content5  { /*      div de la segunda ventana modal        */
 margin: 0 auto;
 padding-left: 25px;
 padding-right: 25px;
 background: #f1f1f1; /* Fondo del contenido */
 border-radius: .25em .25em .25em .25em;
 min-height: 20em; /* Alto del contenido */
 position: relative;
 width: 40%;
 z-index: 1;    
 border-style: solid;
 border-top-width: 1px;
  border-left-width: 1px;
   border-right-width: 1px;
    border-bottom-width: 1px;
}

 #content3  {

 width: 30%;

 }


.formularios ul {
    width:512px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.formularios li{
    padding:5px; 
    border-bottom:1px solid #eee;
    position:relative;
}

#content .labelNormal, #content2 .labelNormal, #content3 .labelNormal, #content4 .labelNormal, #content5 .labelNormal {
background: #f1f1f1;
color: #555555;
display: inline-block;
float: left;
font-family: sans-serif;
font-size: 13px;
font-weight: bold;
margin-top: 5px;
padding: 0px;
width: 150px;
text-align: left;
}

.formularios textarea{
padding:8px; 
width:300px;
resize:none;
}

.formularios button {
margin-left:156px;
}

.formularios input, .formularios textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.formularios input:focus, .formularios textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}

button.submit {
    background-color: #36752D;
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

#ventanaPermiso, #ventanaDescuento, #ventanaBono, #ventanaSancion {
text-align: left;
}

#ventanaPermiso, #ventanaDescuento td{
padding: 10px;
width: 0%;
}
